{% extends 'base.html.twig' %}

{% block title %}Liste sessions{% endblock %}

{% block body %}

{% if app.user %}
    <h2>Bonjour {{ app.user.identifiant }}</h2>
    {% else %}
    <h2>Bonjour</h2>
{% endif %}

<h1>Liste des sessions</h1>

{% if is_granted('ROLE_ADMIN') %}
    <a class="btn" href="{{path('add_session')}}">Ajouter une session</a>    
{% endif %}

        <h2>Sessions en cours</h2>

        <table>
            <thead>
                <tr>
                    <th >Statut</th>
                    <th >Formation</th>
                    <th >Session</th>
                    <th >Date début</th>
                    <th >Date fin</th>
                    <th >Inscrit</th>
                    
                
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Editer</th>   
                        <th>Supprimer</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if sessionsActuel is defined %}
                    
                
                    {% for session in sessionsActuel %}
                    <tr>
                        <td>
                        {% if session.stagiaires.count == session.nbPlace %}
                        <p class="btn2">Complet</p> 
                        {% endif %}
                    </td>
                        <td>{{ session.formation.nomFormation }}</td>        
                        <td><a href="{{ path('show_session',{'id':session.id})}}">{{ session.nomSession }}</a></td>
                        <td>{{session.dateDebut | date('d/m/Y')}}</td>
                        <td>{{session.dateFin | date('d/m/Y')}}</td>
                        <td>{{ session.stagiaires.count }}/{{ session.nbPlace}}</td>

                
                        {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{path('edit_session', {'id': session.id })}}"><i class="fa-sharp fa-solid fa-pen-to-square fa-xl" style="color: #ffc800;"></i></a></td> 
                        <td><a href="{{path('delete_session', {'id': session.id })}}"><i class="fa-solid fa-delete-left fa-xl" style="color: #fc0303;"></i></a></td>  
                        {% endif %}
                        
                    </tr>
                    {% endfor %}  
                    {% endif %} 
            </tbody>
        </table>

        <h2>Sessions à venir</h2>

        <table>
            <thead>
                <tr>
                    <th >Statut</th>
                    <th >Formation</th>
                    <th >Session</th>
                    <th >Date début</th>
                    <th >Date fin</th>
                    <th >Inscrit</th>
                    
                
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Editer</th>   
                        <th>Supprimer</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                
                {% if sessionsFutur is defined %}
                    
                
                {% for session in sessionsFutur %}
                <tr>
                    <td>
                        {% if session.stagiaires.count == session.nbPlace %}
                        <p class="btn2">Complet</p> 
                    {% endif %}
                    </td>
                    <td>{{ session.formation.nomFormation }}</td>        
                    <td><a href="{{ path('show_session',{'id':session.id})}}">{{ session.nomSession }}</a></td>
                    <td>{{session.dateDebut | date('d/m/Y')}}</td>
                    <td>{{session.dateFin | date('d/m/Y')}}</td>
                    <td>{{ session.stagiaires.count }}/{{ session.nbPlace}}</td>

            
                    {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{path('edit_session', {'id': session.id })}}"><i class="fa-sharp fa-solid fa-pen-to-square fa-xl" style="color: #ffc800;"></i></a></td> 
                    <td><a href="{{path('delete_session', {'id': session.id })}}"><i class="fa-solid fa-delete-left fa-xl" style="color: #fc0303;"></i></a></td>  
                    {% endif %}
                    
                </tr>
                {% endfor %}  
                {% endif %}
            </tbody>
        </table>

        <h2>Sessions passées</h2>

        <table>
            <thead>
                <tr>
                    <th >Statut</th>
                    <th >Formation</th>
                    <th >Session</th>
                    <th >Date début</th>
                    <th >Date fin</th>
                    <th >Inscrit</th>
                    
                
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Editer</th>   
                        <th>Supprimer</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if sessionsPassees is defined %}
                    
                
                    {% for session in sessionsPassees %}
                    <tr>
                        
                        <td>
                            {% if session.stagiaires.count == session.nbPlace %}
                            <p class="btn2">Complet</p> 
                        {% endif %}
                        </td>
                        <td>{{ session.formation.nomFormation }}</td>        
                        <td><a href="{{ path('show_session',{'id':session.id})}}">{{ session.nomSession }}</a></td>
                        <td>{{session.dateDebut | date('d/m/Y')}}</td>
                        <td>{{session.dateFin | date('d/m/Y')}}</td>
                        <td>{{ session.stagiaires.count }}/{{ session.nbPlace}}</td>

                
                        {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{path('edit_session', {'id': session.id })}}"><i class="fa-sharp fa-solid fa-pen-to-square fa-xl" style="color: #ffc800;"></i></a></td> 
                        <td><a href="{{path('delete_session', {'id': session.id })}}"><i class="fa-solid fa-delete-left fa-xl" style="color: #fc0303;"></i></a></td>  
                        {% endif %}
                        
                    </tr>
                    {% endfor %}  
                    {% endif %}
            </tbody>
        </table>

{% endblock %}
