{% extends 'base.html.twig' %}

{% block title %}Fiche détaillé stagiaire{% endblock %}

{% block body %}

<div class="container-session">
    <h1>{{ stagiaire }}</h1>

    <p>Date de naissance : {{ stagiaire.dateNaissance | date('d/m/Y')}}</p>
    <p>Téléphone : {{ stagiaire.telephone}}</p>
    <p>Adresse : {{ stagiaire.adresse}}</p>
    <p>Ville : {{ stagiaire.ville}}</p>
    <p>Email : {{ stagiaire.emailStagiaire}}</p>

</div>

<h2>Sessions :</h2>

{% if stagiaire.sessions | length == 0 %}

        <p class="color-white">Pas de sessions en cours </p>

        {% else %}

<table>
    <thead>
        <tr class="title-table">
            <th >Nom de la session</th>
            <th >Date début : </th>
            <th>Date fin</th>
            
        </tr>
    </thead>
    <tbody>
        
        
            
        

            {% for session in stagiaire.sessions %}
                
                    
                
             <tr>
                <td> {{session.nomSession}} </td>
                <td> {{session.dateDebut |date('d/m/Y')}} </td>
                <td> {{session.dateFin |date('d/m/Y')}} </td>
            </tr>
        
            {% endfor %}
            {% endif %}

            
      
    </tbody>
</table>

{% endblock %}
