{% extends 'base.html.twig' %}

{% block title %}Fiche détaillé session{% endblock %}

{% block body %}
<h1> Session : {{ session.nomSession }}</h1>


<p>Formateur référent : {{ session.Formateur}}</p>
<p>Date de début: {{ session.dateDebut | date('d/m/Y')}}</p>
<p>Date de fin: {{ session.dateFin | date('d/m/Y')}}</p>
<p>Nombre de places : {{ session.nbPlace }}</p>
<p>Nombre de places restante : {{ session.nbPlace - session.getStagiaires | length }}</p>
<p>Nombre de modules : {{ session.programmes | length}} (
    {% for programme in session.programmes %}
     {{ programme.module.nomModule}}
    
{% endfor %}
)
 </p>




<h2>Stagiaire inscrit :</h2>

<table>
    <thead>
        <tr>
            <th >Stagiaire</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Désinscrire</th>  
            {% endif %}
        </tr>
    </thead>
    <tbody>
            {% for stagiaire in session.stagiaires %}
            <tr>
                <td><a href="{{ path('show_stagiaire',{'id':stagiaire.id})}}">{{ stagiaire }}</a></td>
                <td><a href="{{path('remove_sessionStagiaire', {'id': stagiaire.id, 'idSession': session.id })}}">Désinscrire</a></td>   
                
                
            </tr>
            {% endfor %}


            
      
    </tbody>
</table>

<h2>Stagiaire non-inscrit :</h2>

<table>
    <thead>
        <tr>
            <th >Stagiaire</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Inscrire</th>  
            {% endif %}
        </tr>
    </thead>
    <tbody>
            {% for stagiaire in stagiaires %}
                {% if stagiaire not in session.stagiaires %}
                
            
            <tr>
                <td><a href="{{ path('show_stagiaire',{'id':stagiaire.id})}}">{{ stagiaire }}</a></td>
                {% if  session.nbPlace > session.getStagiaires | length  %}
                    
                    <td><a href="{{path('inscrire_sessionStagiaire', {'id': stagiaire.id, 'idSession': session.id })}}">Inscrire</a></td>   

                {% endif %}
                
                
            </tr>
                {% endif %}
            {% endfor %}


            
      
    </tbody>
</table>


<h2>Programme:</h2>

<table>
    <thead>
        <tr>
            <th >Module</th>
            <th >Catégorie</th>
            <th >Durée</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Déprogrammer</th>  
            {% endif %}
        </tr>
    </thead>
    <tbody>
            {% for programme in session.programmes %}
               <tr>
                    <td>{{ programme.module}}</td>
                    <td><a href="">{{ programme.module.categorie.nomCategorie }}</a></td>
                    <td>{{ programme.nbJourModule }} jours</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{path('remove_sessionProgramme', {'id': programme.id, 'idSession': session.id })}}">Déprogrammer</a></td>  
                {% endif %} 
                </tr>
                {% endfor %}

            <tr>
                {% set totalJours = 0 %}
               <th>Total de jours :  {% for programme in session.programmes %}
                {% set totalJours = totalJours + programme.nbJourModule %}
                
               {% endfor %}
               {{totalJours }} jours
             </th> 
            </tr>
           

            
      
    </tbody>
</table>


<h2>Modules non programmés</h2>

<table>
    <thead>
        <tr>
            <th >Module</th>
            <th >Catégorie</th>
            <th >Durée</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Programmer</th>  
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% set modules_session = session.programmes|map(p => p.module) %} 
        {% for programme in modules %}
            {% if programme not in modules_session %}
                <tr>
                    <td>{{ programme.nomModule }}</td>
                    <td><a href="">{{ programme.categorie.nomCategorie }}</a></td>
                    <td>
                        <form action="{{path('addModule_session', {'id': programme.id, 'idSession': session.id })}}" method="POST">
                            <input type="number" name="duree" min="0" value="0"> jours
                            {% if is_granted('ROLE_ADMIN') %}
                               <td> <input type="submit" name="submit" value="Programmer">  </td>
                            {% endif %} 
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>




{% endblock %}