{% extends 'base.html.twig' %}

{% block title %}Fiche détaillé formateur{% endblock %}

{% block body %}

<div class="container-session">
    <h1>{{ formateur }}</h1>


    <p>Email : {{ formateur.emailformateur}}</p>

</div>

<h2>Référent des sessions suivante :</h2>

{% if formateur.sessions | length == 0 %}

        <p class="color-white">Pas de sessions en cours </p>

        {% else %}


<table>
    <thead>
        <tr class="title-table">
            <th >Nom de la session</th>
            <th >Date début : </th>
            <th>Date fin</th>
            
        </tr>
    </thead>
    <tbody>

            {% for session in formateur.sessions %}
           

             <tr>
                <td> {{session.nomSession}} </td>
                <td> {{session.dateDebut |date('d/m/Y')}} </td>
                <td> {{session.dateFin |date('d/m/Y')}} </td>
            </tr>
             
            {% endfor %}


            
      
    </tbody>
</table>


{% endif %}

{% endblock %}
